:root {
    --clr-primary-dark-cyan: hsl(185, 75%, 39%);
    --clr-primary-very-dark-blue: hsl(229, 23%, 23%);
    --clr-primary-dark-gray-blue: hsl(227, 10%, 46%);
    --clr-neutral-dark-gray: hsl(0, 0%, 59%);
    --ff-primary: 'Kumbh Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2, p2 {
    font-family: var(--ff-primary);
}

body {
    overflow: hidden; /*needed to crop the moved circles*/
}

#circle1, #circle2 {
    position: absolute; /*to take out of flow, then use z-index to bring back */
    z-index:-1;
    
}

#circle1 {
    top: -65%;
    left:20%
}

#circle2 {
    top: 55%;
    left: 50%;
}

main {
    position: relative; /*needed for z-index to work*/
    min-height: 100vh;
    background-color: var(--clr-primary-dark-cyan);    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;    
}

.container {
    background-color: white;
    text-align: center;
    max-width: 350px;
    border-radius: 20px 20px 20px 20px;

}

.upper {
    width: 350px;
    height: 150px;
    background: url(/images/bg-pattern-card.svg);
    background-size: cover;
    border-radius: 20px 20px 0 0;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid white; /*Give it white rounded border*/
    margin: -50px auto 0px auto; /* move up into upper */
    
}

.age {
    font-weight: normal; /*remove bold in h2*/
}

.middle {
    padding-top: 1rem;
    height: 100px;
    border-bottom: 1px solid lightgrey;
}

p, .age {
    padding-top:0.3rem;
    color: var(--clr-primary-dark-gray-blue);
}

.lower {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5rem 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}